$screen-xs-max : 568px;
$screen-sm-min : 568px;
$screen-sm-max : 1024px;
$screen-md-min : 1024px;
$screen-md-max : 1200px;
$screen-lg-min : 1200px;

$imp : !important;
// custom variables
@media (max-width: $screen-xs-max) {
    body, p {font-size: 11px; line-height: 1.3em;}
    .logo {margin-top: 10px;}
    .sidemenu , .mobile {display: block;}
    #main-nav , .desktop {display: none;}

    article {
        .listpost-homepage li .theposts .title h2 {
            font-size: 11px;line-height: 1.4em;margin: 0 $imp;
        }
        .about {
            .about-posts {
                width: 100%;
                img , .title {width: 100%;}
            }
        }
        .article-menu {
            ul {padding: 0 $imp;
                li {width: 50%;}
            }
        }
        .the-article{
            .the-video {
                position: relative;
                padding: 10px;
                .article-bg {display: none;}
                h1 , .video , .man-details , .video-thumbnail {position: relative;left: auto;top: auto;right: auto;bottom: auto;}
                .man-details, .video-thumbnail {width: 100%;}
            }
            .content {
                .summary {
                    border-right: none; border-bottom: 3px solid #ccc; margin-bottom: 20px;
                }
            }
        }
    }//article
}

@media only screen and (max-width: 767px){

}//tablet


//ipad and tablet
@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {



}
@media (min-width: $screen-md-min) and (max-width: $screen-md-max) {

}
