@import "bootstrap";

$arial : "arial",helvetica,sans-serif;

$orange:#F26533;
$orangeMenu:#f26531;
$green: #ADC537;
$lightGreen:#c2f88e;
$white: #fff;
$grey:#5e5e5e;
$menuBg:#F3F3F3;
$black:#000;
$quaColor:#d21c4d;
$susColor:#1d819e;
$heaColor:#aa54a0;


p {font:12px/1.2em $arial; font-weight: 300;}
a {transition: all 0.5s ease;color: $orange;
    &:hover , &:visited {color: darken($orange, 15%);text-decoration: none;}
}
h4{font-size: 16px; color: $black;font-weight: bold;}

body {font:12px/1.2em $arial; color:$grey;background:$white;}

.container {position:relative;overflow:hidden;max-width:1000px; padding:0;}

*.green {color: $green !important;}
*.light-green{color: $lightGreen !important;}
.center {text-align: center;}

@mixin overlay(){
    &:hover{
        &::after{background: rgba(0,0,0,0);transition:all 0.5s ease;}
    }
    &::after{
        content: "";
        background: rgba(0,0,0,0.6);
        width: 100%;
        height: 100%;
        float: left;
        position: absolute;
        left: 0;
        top: 0;
    }
}
@mixin triangle($color){
    &::after{
        content: " ";
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 5px 10px 5px;
        position: absolute;
        top: -10px;
        left: 45%;
        border-color: transparent transparent $color transparent;
    }
}
header{
    .share {height: 40px;margin-top: 30px;}
    #main-nav {margin-top: 30px;
        float: left;
        width: 100%;
        #primary-nav {
            float:left;
            width: 100%;
            ul {
                list-style:none;
                position:relative;
                float:left;
                margin:0;
                padding:0;
                border-top:1px solid #EBEBEB;
                height: auto;
                width: 100%;
                a {
                    display:block;
                    transition: all 0.5s ease;
                    font: 12px/1em $arial;
                    color: $grey;
                    text-transform: uppercase;
                    text-decoration: none;
                    font-weight: bold;
                    padding: 22px 15px;
                    border-right: 1px solid #ccc;
                    &:hover {color: $orange;}
                } //a
                li {
                    position:relative;
                    float:left;
                    margin:0;
                    padding:0;
                    transition: all 0.5s ease;
                    &.active , &.current-menu-item , &.current-menu-parent {
                        background: $menuBg;
                        a {
                            color:$orangeMenu !important;
                        }
                    }
                    &:hover a {
                        color:$orange;text-decoration: none;

                    }
                    &:hover > ul {

                        display:block
                    }
                    &:last-child{
                        a {border-right: 0;}
                    }
                }//li
                ul {
                    display:none;
                    position:absolute;
                    top:100%;
                    left:0;
                    background:none;
                    padding:0;
                    z-index: 9999;
                    li {
                        background: $orange;
                        float:none;
                        width:200px;
                        &:nth-child(2){
                            background: $orangeMenu;
                        }
                    }
                    a {
                        line-height:120%;
                        padding:10px 15px;
                        color:$white !important;
                        border-bottom: 1px dotted $white;
                        background-position: 0 50%;
                        &:hover{color:#FDB915 !important; background: url(../img/sub_menu_arrow.png) no-repeat left center;}
                    }
                    ul {
                        top:0;
                        left:100%
                    }//third sub
                }//second sub ul
            }//ul
        }//nav
    }
}//header
footer {
    background: #ccc;
    padding: 20px 30px;
    padding-bottom: 40px;
    position: relative;
    &:before {
        background: url(../img/footer_line.png) repeat-x left bottom;
        content: "";
        width: 100%;
        height: 23px;
        position: absolute;
        left: 0;
        bottom: 0;
    }
    .sitemap, .copy {margin-top: 10px;margin-left: 6.7%;
        li {
            a { text-transform: uppercase;color: black;padding: 0px 5px;margin: 10px 0;border-right: 1px solid black;}
            &:last-child {a {border-right: none;}}
        }
    }
}
article{
    .sharethis{width: 100%; height: 40px; padding:5px 20px;  background: $menuBg;margin-top: -3px;
        .pshare {color: $grey;font-size: 14px; margin-top: 8px;margin-right: 10px;}
        .st_sharethis_large {padding:0 10px;border-right: 1px solid #717171;border-left: 1px solid #717171;height: 32px;}
    }//SHARETHIS
    .listpost-homepage{
        li{
            .theposts {
                width: 100%;
                max-height:395px;
                position: relative;
                overflow: hidden;
                img {width: 100%; height: 100%;position: relative;z-index: 1;}
                .title {background: rgba(0,0,0,0.8); color: $white; position: absolute;left: 0;width: 180px;height: 100%;top: 0; left: 0; z-index: 3; padding: 10px; h2{line-height: 1.8em;font-size: 14px;}}
                .linefront {width: 100%;height: 50px;position: absolute;bottom: 10px;left: 0;z-index: 4}
                .lineback {height: 70px;width: 100%;position: absolute;bottom: 0;right: 0;z-index: 2;}
                .watch {
                    position: absolute;
                    bottom: 10px;
                    right: 0;
                    height: 50px;
                    width: 200px;
                    z-index: 5;
                    img {height: 100%; width: auto;float: left;}
                    p {float: left;line-height: 4.4em;margin-right: 15px;
                    }
                }
            }
        }
        li:nth-child(1){
            .theposts {.title {.colors{color: $green;}}.linefront {background: #77AD43;}.lineback {background: rgba(119,173,67,0.6);}}
        }
        li:nth-child(2){
            .theposts {.title {.colors{color: #D21C4D;}}.linefront {background: #D21C4D;}.lineback {background: rgba(210,28,77,0.6);}}
        }
        li:nth-child(3){
            .theposts {.title {.colors{color: #1D819E;}}.linefront {background: #1D819E;}.lineback {background: rgba(29,129,158,0.6);}}
        }
        li:nth-child(4){
            .theposts {.title {.colors{color: #AA54A0;}}.linefront {background: #AA54A0;}.lineback {background: rgba(170,84,160,0.6);}}
        }
    }//post homepage
    summary {
        color: $grey;
        line-height: 1.5em;
        margin-top: 20px;
    }
    .rightpost {
        @mixin greentitle{
            .title {
                margin-top: 40px;
                margin-bottom: 20px;
                position: relative;
                font-size: 18px;
                color: $green;
                padding-bottom: 20px;
                text-transform: uppercase;
                font-weight: bold;
                &:before {
                    width: 100%;
                    height: 4px;
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    content: "";
                    background: linear-gradient(to right, #fafff7 0%,#77ad43 10%,#77ad43 90%,#fafff7 100%);
                }
            }
        }
        @include greentitle;
        ul.list-inline {
            li{width: 24%;}
        }
    }
    .article-menu{
        ul {
            background: $menuBg;
            float: left;
            padding: 0 7.8%;
            width: 100%;
            z-index: 1;
            position: relative;
            margin: 0;
            box-shadow: 0 5px 7px rgba(0,0,0,0.3);
            li {
                position: relative;
                padding: 0;
                float: left;
                height: 84px;
                &.active{
                        a{
                            &::after{background: rgba(0,0,0,0);}
                        }
                    }
                a{
                    float: left;
                    @include overlay();
                }
                div {
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    width: 100%;
                    color: $white;
                    font-size: 16px;
                    padding: 8px 10px;
                    z-index: 1;
                    @include triangle($green);
                    background: $green;
                }
                .greenbg {background: $green;}
            }
            li:nth-child(2){
                div {
                    background: $quaColor;
                    @include triangle($quaColor);
                }
            }
            li:nth-child(3){
                div {
                    background: $susColor;
                    @include triangle($susColor);
                }
            }
            li:nth-child(4){
                div {
                    background: $heaColor;
                    @include triangle($heaColor);
                }
            }
        }
    }
    @mixin man-details($color-md) {
        background: $color-md;
        h2 {.light-color{color: lighten($color-md, 30%);}}
    }
    @mixin video-bg($video-bg){
        background: rgba($video-bg,0.7);
    }
    .the-article{
        position: relative;
        .article-bg {
            position: relative;
            z-index: 1;
            left: 0;
            top:0;
            width: 100%;
            height: auto;
        }
        h1 {color: $white;position: absolute;top:20px;font-size: 20px; left: 20px;z-index: 1;}
        .video {
            position: absolute;
            right: 30px;
            top:30px;
            z-index: 2;
        }
        .the-video{position: relative;}
        .man-details{
            position: absolute;
            z-index: 2;
            padding:20px;
            width: 30%;
            bottom: 10px;
            left: 0;
            h2 {color: $white;font-size: 12px;font-weight: bold;margin: 0;line-height: 1.6em;}
            @include man-details($green);
        }

        .video-thumbnail{
            @include video-bg($green);
            position: absolute;
            z-index: 2;
            right: 0;
            bottom: 0;
            width: 70%;
            ul {padding-left: 40px;
                margin: 0;
                li {padding: 10px;
                    &.active{
                        a{
                            &::after{background: rgba(0,0,0,0);}
                            .play-icon{display: none;}
                        }
                    }
                    a{border:1px solid $white;float: left;position: relative;
                        @include overlay();
                        .play-icon{
                            position: absolute;
                            bottom: 10px;
                            right: 10px;
                            z-index: 1;
                            display: block;
                        }
                    }
                }
            }
        }
        .content{
            padding: 20px 3%;
            .summary {border-right: 3px solid #ccc;
                .colored{color: $green;}
            }
        }
    }//the article
    .taste-theme{border-top: 36px solid $green;}
    .quality-theme{border-top: 36px solid $quaColor;
        .man-details{@include man-details($quaColor);}
        .video-thumbnail{@include video-bg($quaColor);}
        .colored{color: $quaColor !important;}
    }
    .sustainability-theme{border-top: 36px solid $susColor;
        .man-details{@include man-details($susColor);}
        .video-thumbnail{@include video-bg($susColor);}
        .colored{color: $susColor !important;}
    }
    .health-theme{border-top: 36px solid $heaColor;
        .man-details{@include man-details($heaColor);}
        .video-thumbnail{@include video-bg($heaColor);}
        .colored{color: $heaColor !important;}
    }
    .about {
        p {font-size: 14px;}
        &.about-bg {
            background: url(../img/about_glass_is_life_withsizzle_01.jpg) no-repeat center top;
            width: 100%;
            min-height: 450px;
            background-size: cover;
            padding: 40px 20px;
            h1{font-size: 18px;color: $white;text-align: left;}
        }
        .about-posts{
            width: 340px;
            height: auto;
            margin: 0 auto;
            text-align: center;
            .title{
                margin-top: 15px;
                background: $green;
                color: $white;
                font-size: 16px;
                padding: 10px 0;
                width: 340px;
                text-align: center;
            }
        }
    }//about
    .links-we-like{
        h2{color: $green;font-size: 20px;font-weight: bold;margin-bottom: 20px;margin-left: 10px;}
    }
    .left-sidebar {
        h1 {font-size: 15px; font-weight: bold;margin: 20px 0 10px 40px;color: $grey;}
    }
    .contact-us{
        .checkbox input {margin-top: 0;}
        label{font-weight: normal;}
        .btn-submit{border:none;background: none;padding: none;position: relative;
            p{
                color: $white;font-size: 15px;font-weight: bold;position: absolute;right: 31px;top: 10px;
            }
        }
    }
    .right-sidebar{border-left: 3px solid #ccc;position: relative;
        &::before{
            border-left: 3px solid #ccc;
            content: "";
            height: 1200px;
            left: -3px;
            position: absolute;
            top: 0;
            width: 1px;
            z-index: -1;
        }
        .box-green{
            width: 100%;
            background: $green;
            padding: 10px;
            min-height: 200px;
            p {color: $white;font-size: 15px;font-weight: bold;}
        }
    }
    .key-contacts {
        .separator{background: url(../img/seprator.png) repeat-x ;width: 100%;height: 17px;}
        .world-map{
            h4{margin: 20px 10px;}
            .the-map{margin-top: 20px; img{width: 100%;}}
            h5{color: #888; font-weight: bold;margin: 20px 10px;}
            details{margin-left: 30px;
                p{color: #888;}
                a{color: $green !important;}
            }
            .pdf-list{
                li {line-height: 3.7rem;
                    a {position: relative;padding-left: 30px;color: #77ae43;font-weight: bold;font-size: 14px;
                        &::before{
                            content: "";
                            background: url(../img/icon-pdf.png) no-repeat center left;
                            width: 24px;
                            height: 31px;
                            position: absolute;
                            left: 0;
                            top: -10px;
                        }
                    }
                }
            }
        }//world-map
    }
}//article